*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ff6600;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1% 5%;
    z-index: 999;
}
header img{
    width: 25px;
    height: 25px;
}
header .fork-knife{
    color:#ffffff;
    font-size: 12px;
    margin-top: 5px;
    margin-left: -19px;
}
header h1{
    padding-left: 1%;
}
.menu-btn{
    margin-left: auto;
    font-size: 25px;
    cursor:pointer;
}
.hamburgerMenu{
    position:fixed;
    top:0;
    width:300px;
    height:fit-content;
    background:white;
    display: none;
    overflow-y:auto;
    transition: right 0.3s ease;
    z-index: 1000;
}
.hamburgerMenu.active{
    right:0;
    display: block;
}
.close{
    float: right;
    color:#ff6600;
    margin:10px;
    border: 1px solid #ff6600;
    border-radius: 50%;
    cursor:pointer;
}
.hamburgerMenu h2{
    padding:20px;
    color: rgb(99, 98, 98);
}
.hamburgerMenu ul{
    list-style:none;
}
.hamburgerMenu li{
    color: rgb(99, 98, 98);
    margin: 14px 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}
.hamburgerMenu li:hover{
    background:#ffe8d6;
}
.hero-section img{
    width:100%;
    height: fit-content;
}
.hero-section{
    position: relative;
    text-align: center;    
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-content input{
    background-color: #ffff;
    color: rgb(99, 98, 98);
    border: none;
    border-radius: 50px;
    padding: 25px 80px 25px 35px;
    font-size: 20px;
}
.search-btn{
    background-color: #ff6600;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 45px;
    font-size: 30px;
    margin-left: 10px;
    padding: 15px 20px;
    cursor:pointer;
}
.hero-content h3{
    font-size: 50px;
    color: #ffff;
    margin-top: 2%;
}
.hero-content p{
    font-size: 20px;
    color: rgb(212, 212, 212);
    margin-top: 1%;
}
.categoriesContainer h4, .mealContainer h4{
    font-size: 25px;
}
.categoriesContainer hr, .mealContainer hr, .mealHeadingHr{
    width:4%;
    border: 2px solid #ff6600;
}
.categoriesContainer{
    padding: 3% 5%;
    background-color: #f7f4f4;
}
.mealContainer{
    padding:3% 5% 0 5%;
    background-color: #ffff;
}
.categoriesCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    margin: 3% 0 5% 0;
    cursor:pointer;
}
.searchGrid, .mealSection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:30px;
    margin: 5% 0 5% 0;
}
.categoryCard, .searchCards, .mealCard{
    border-radius: 3%;
    background: #ffff;
    position: relative;
}
.categoryCard h5{
    border:1px solid #ff6600;
    background-color: #ff6600;
    color: #ffff;
    text-transform: uppercase;
    padding:1%;
    position: absolute;
    right: 2%;
    top:2%
}
.searchCards h5{
    border:1px solid #ffff;
    border-radius: 45px;
    background-color: #ffff;
    color: #ff6600;
    padding:0.5% 4%;
    position: absolute;
    right: 2%;
    top:2%
}
.searchCards p, .searchCards h6, .mealCard p, .mealCard h6{
    margin-left: 5%;
    margin-top: 2%;
}
.searchCards h6, .mealCard h6{
    font-size: 25px;
}
.searchCards p, .mealCard p{
    color: rgb(150, 150, 150);
}
.categoryCard img, .searchCards img, .mealCard img{
    width: 100%;
    object-fit: contain;
}
.hidden{
    display: none;
}
.categoryInfo{
    border: 2px solid #ff6600;
    background-color: #f7f4f4;
}
.categoryInfo, .mealHeading, .mealHeadingHr{
    margin: 0 5%;
}
.categoryInfo h2{
    color: #c24f03; 
}
.categoryDescription{
    color: rgb(112, 112, 112);
    margin: 1.5% 1%;
    font-size: 25px;
    line-height: 1.5;
}
.categoryTitle{
    margin: 1.5% 1% 0 1%;
}
.mealHeading{
    padding-top: 3%;
    font-size: 35px;
}
.mealSection{
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}
@media screen and (max-width: 320px) {
    header h1{
        padding-left: 3%;
    }
    .hero-content input{
        border-radius: 7px;
        padding: 1px 3px 1px 1px;
        font-size: 8px;
    }
    .search-btn{
        border-radius: 25px;
        font-size: 6px;
        margin-left: 4px;
        padding: 2px 3px;
    }
    .hero-content h3{
        font-size: 18px;
    }
    .hero-content p{
        font-size: 7px;
    } 
    .categoriesContainer hr, .mealContainer hr, .mealHeadingHr{
        width:20%;
    }
    .categoryCard h5, .searchCards h5{
        font-size: 7px;
    }   
}
@media (min-width:321px) and (max-width: 767px) {
    header h1{
    padding-left: 2%;
    }
    .hero-content input{
        border-radius: 8px;
        padding: 2px 5px 2px 3px;
        font-size: 10px;
    }
    .search-btn{
        border-radius: 30px;
        font-size: 8px;
        margin-left: 4px;
        padding: 2px 3px;
    }
    .hero-content h3{
        font-size: 20px;
    }
    .hero-content p{
        font-size: 8px;
    }
    .categoriesContainer hr, .mealContainer hr, .mealHeadingHr{
        width:10%;
    }
    .categoryCard h5, .searchCards h5{
        font-size: 10px;
    }       
}
@media (min-width: 768px) and (max-width:1023px) {
    header h1{
    padding-left: 1.5%;
    }
    .hero-content input{
        border-radius: 10px;
        padding: 3px 7px 3px 4px;
        font-size: 13px;
    }
    .search-btn{
        border-radius: 40px;
        font-size: 10px;
        margin-left: 5px;
        padding: 3px 5px;
    }
    .hero-content h3{
        font-size: 25px;
    }
    .hero-content p{
        font-size: 10px;
    }
    .categoriesContainer hr, .mealContainer hr, .mealHeadingHr{
        width:7%;
    }
    .categoryCard h5, .searchCards h5{
        font-size: 10px;
    }          
} 